.contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
height: 40vh;
}
a {
text-decoration: none;
margin-left: 4px;
font-size: 16px;

}

.contact-info-left{
  display: flex;
  flex-direction: column;
 height: 100%;
 width: 45vw;
 align-items: center;
 margin-top: 50px;
 
}
.info p{
  background-color:rgba(72,172,240,0.3);
  width: 120px;
  height: 50px;
padding: 2px;
  text-align: center;
  border-radius: 10px;
}
.contact-info-right{
  display: flex;
  flex-direction: column;
  width: 45vw;
  align-items: center;
  margin-top: 50px;
  
}
.info{
  display: flex;
  flex-direction: row
}
@media screen and (max-width:290px){
  .contact-info-right{
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: center;
    margin-bottom: 100px;
  }
  .contact-info-left{
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: center;
    margin-bottom: 150px;
  }
}
@media screen and (min-width:500px) and (max-width:650px){

  .contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
margin-top: 50px;
}
a {
text-decoration: none;
margin-left: 4px;
font-size: 16px;

}
}
@media screen and (min-width:571px) 
{
  .tittle{
    display: none;
  }
}
@media screen and (min-width:650px){

  .contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
margin-top: 100px;

height: 100%;
}
a {
text-decoration: none;
margin-left: 4px;
font-size: 16px;

}
.contact-info-right{
  display: flex;
  flex-direction: column;
  width: 45vw;
  align-items: center;
  margin-bottom: 60px;
}
.contact-info-left{
  display: flex;
  flex-direction: column;
  width: 45vw;
  align-items: center;
  margin-bottom: 60px;
}

}
