
.footer{ 
  height: 7vh; 
  color:aliceblue;
  background-color: rgba(72,172,240,0.3);
  padding: 0px;
  text-align: center;
  position: fixed;
  bottom: 0; 
  width: 100%; 
  display: flex;
  visibility: hidden;
  justify-content: space-between;
  align-items: center;
  flex-wrap:nowrap;
}


.home{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.sk{
  margin-right: 20px;
}

.local{
  margin-left: 5px;
  font-size: 13px;
}