
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  background-color: rgba(72,172,240,0.3);

}
.header a{
  text-decoration: none;

}
.nav-menu{
  display: flex;
  
  }

.nav-menu li {
  padding: 0 1rem;
  list-style: none;
}

.nav-menu li a{
  font-size: 2rem;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
}
.hamburger{
  display: none;
}


@media screen and (max-width: 650px) {
  .nav-menu{
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:rgba(29, 89, 129, 0.9);;
    position: fixed;
    z-index: -4;
    top: 0;
    left: -100%;
    transition: 0.5s;
    
  }
  .nav-menu.active{
    left:0;
    height: 100%;
  
  }
  .hamburger{
    display: block;
  }
  
  
}
