/*header-wrapper{
  position:relative;
  background:url(IMG_1188.jpg) ;
  background-size: cover;
  background-position: center;
  height: 90vh;
  
 }

 .header{
  padding: 1rem;

  

 }
.navbar-nav{
 display: flex;
 align-items: center;
 background-color:black;
 margin-top: 5px;
 padding: 1rem;
 

 
 }
 nav.navbar.navbar-expand-lg.bg-body-tertiary{
  background-color:black!important; 
  opacity: 0.8;

  
 }
 .navbar-toggler-icon{
  background-color:aliceblue;
  color: aliceblue !important;
 }
 button.navbar-toggler{
  background-color:black;
  opacity: 0.8;

 }
 div.navbar-nav{
 font-size: 2rem;
 background-color: black
 }
a.navbar-brand{
  font-size: 2rem;
}
.show {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  background-color:transparent !important; /* You can customize the background color */
  /*z-index: 1000; 
  color: aliceblue !important;/* Ensure the navigation appears above other content */
/*}
#navbarNavAltMarkup{
  background-color: transparent;
}
/* NavBar.css */

/* Default styles for larger screens */
/*.francesinha {
  display: none; /* Hide toggle icon by default on larger screens */
/*}


div.navbar-nav {
  display: block !important; /* Show navigation items by default on larger screens */
/*}

/* Media query for screens up to 768px width (adjust as needed) */
/*@media (max-width: 992px) {
  .francesinha {
    display: block; /* Show toggle icon on smaller screens */
 /* }
  .francesinha.active {
    background-color: transparent !important; /* Set transparent background for the toggle icon when clicked */
 /* }

  .navbar-collapse {
    display: none !important; /* Hide navigation items on smaller screens by default */
 /* }
  .navbar-collapse.show {
    display: block !important;
    position: absolute; /* Position the navigation items absolutely */
   /* top: 100%; /* Position the navigation items below the toggle icon */
  /*  left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent !important; 
    transform: translateY('-100%'); 
  }
  .navbar-collapse.show {
    display: block !important; 
    background-color: transparent !important;
    color: aliceblue !important;
    /* Show navigation items when toggled on smaller screens */
 /* }
  /* Add this CSS to your existing styles */

/* ... other styles ... */

/*.nav-link.visible {
  display: block !important;
  opacity: 1 !important;
}

/* ... other styles ... */

  
/*}*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
  

}
.header a{
  text-decoration: none;

}
.nav-menu{
  display: flex;
  
  }

.nav-menu li {
  padding: 0 1rem;
  list-style: none;
}

.nav-menu li a{
  font-size: 2rem;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
}
.hamburger{
  display: none;
}


@media screen and (max-width: 650px) {
  .nav-menu{
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 1);
    position: fixed;
    z-index: -4;
    top: 0;
    left: -100%;
    transition: 0.5s;
    
  }
  .nav-menu.active{
    left:0;
    height: 100%;
  
  }
  .hamburger{
    display: block;
  }
  
  
}
